@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/PretendardVariable.woff2") format("woff2-variations");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
p,
div {
  font-family: "Pretendard", sans-serif;
}
